<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add notes</title>
</head>
<body>
    <div>
        <h1>Adding notes</h1>
    </div>
    <div class="menu">
        <a href= "/">Home</a> 
        <br>
        <a href= "/add">Add notes</a> 
        <br>
        <a href="/notes">View all notes</a>
        <br>
        <a href="/search-result">Search</a>
    </div>
    <br>
    <div id="wrapper">
        <div id="main">
            <input type="text" value="Enter a note ..." id="myNote">
            <br>
            <br>
            <div id="buttons">
                <input type="button" value="add note" id="addButton">
            </div>
        </div>  
    </div>
    <div id="content">

    </div>

    <script src="../static/script.js"></script>
</body>
</html>