<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <div>
        <h1>Add notes</h1>
    </div>
    <div class="menu">
        <a href="/">Home</a>
        <br>
        <a href="/view_all_notes">View all notes</a>
        <br>
        <a href= "/search">search</a>   
    </div>
    <br>
    <div id="wrapper">
        <div id="main">
            <input type="text" value="Enter a note ..." id="myNote">
            <br>
            <br>
            <div id="buttons">
                <input type="button" value="add note" id="addButton">
                <br>
                <br>
                <input type="button" value="remove last note" id="removeButton">
                <br>
                <br>
                <input type="button" value="Clear all" id="clearButton">
            </div>
        </div>  
    </div>

</body>
</html>