<!-- 
    -Fonction demander le nom:
    en JS : quand la page se lance faire une alerte demander le nom + le garder dans le local storage + afficher le nom dans l'HTML
    -Fonction chercher:
    HTML : une case search + un bouton submit
    JS ? Python ? : clicker sur le bouton m'envoi sur la page de résultat > prendre le texte de la case > parcourir le fichier txt > si une note contient la chaîne l'afficher
 -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="../static/script.js"></script>
</head>
<body>

    <div class="menu">
        <br>
        <a href= "/">Home</a> 
        <br>
        <a href= "/add">Add notes</a> 
        <br>
        <a href="/notes">View all notes</a>
        <br>
        <a href="/search-results">Search</a>
        <br>     
    </div>
    <form action="/search-results" method="get">
        <!-- obligé de faire un form ? c'est quoi action, pourquoi on écrit les méthodes là ? -->
        <input type="text" value="Enter your search ..." id="search-value">
        <input type="button" value="Search" id="search-button">
        <!-- comment le button peut diriger vers /search-results ?
        au passage sauver le contenu de search-value -->
    </form>
    <div>
        <h1 id="welcome"> Welcome !</h1>
    </div>
</body>
</html>